/* Content
-----------------------------------------------------------------------------*/
.content {
	padding: 63px 0 9px;
}

.col-2 {
	float: left;
	width: 50%;
	padding: 0 0 0 10px;

	&:first-child {
		padding-left: 0;
		padding-right: 10px;
	}
}

.about-section {
	margin: 0 0 84px;

	&__content {
		margin: 30px 0 0;
		@include pie-clearfix();
	}
}

.small-article {
		margin: 20px 0 33px;

		h4 {
			margin: 0 0 28px;
			font: 18px/1.2 $myriadBold;			
		}

		p {
			margin: 0 0 25px;
		}

}

.main-title {
	margin: 0 0 2px;
	text-align: center;
	text-transform: uppercase;
	font: 40px/1.2 $kiddyKittyBold;
	color: #6f9306;
	letter-spacing: 0.03em;
}

.main-subtitle {
	margin: 0 0 20px;
	text-align: center;
	color: #e74c3c;
	font: 18px/1.2 $kiddyKitty;
	letter-spacing: 0.05em;

	&.black {
		color: #333333;
	}
}

.collage {
	margin: 0;

	&__item {
		border: 5px solid #fff;
		position: relative;
		@include box-shadow(0 0 5px 0 rgba(#000, .1));

		&.item1 {
			z-index: 3;
			float: right;
			width: 277px;
			height: auto;
			margin: 62px 17px 0 -200px;
			@include transform(rotate(15deg) translate3d( 0, 0, 0));
		}

		&.item2 {
			z-index: 1;
			width: 327px;
			height: auto;
			margin: 17px 0 0 -2px;
			@include transform(rotate(4deg) translate3d( 0, 0, 0));
		}

		&.item3 {
			z-index: 2;
			width: 325px;
			height: auto;
			margin: -37px 0 0 56px;
			@include transform(rotate(-9.2deg) translate3d( 0, 0, 0));
		}

		&.item4 {
			z-index: 3;
			width: 322px;
			height: auto;
			margin: -92px 0 0 137px;
			@include transform(rotate(6.3deg) translate3d( 0, 0, 0));
		}

		&.item5 {
			z-index: 2;
			width: 399px;
			height: auto;
			margin: -119px 0 0 9px;
			@include transform(rotate(-5deg) translate3d( 0, 0, 0));
		}
	}
}

.quote {
	margin: 13px 0 0;
	padding: 0;
	color: #888888;
	font: 18px/25px $myriadIt;

	p {
		margin: 0;
	}

	cite {
		display: block;
		margin: 4px 0 0;
		text-align: right;
		font-family: $myriadBoldIt;
	}
}

.benefits-section {
	margin: 0 0 63px;
}

.benefits-list {
	margin: 46px 0 0;
	padding: 0;
	list-style: none;
	position: relative;
	height: 182px;
	color: #333333;
	font: 18px/22px $kiddyKitty;
	letter-spacing: 0.025em;
	text-transform: uppercase;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		margin: 0 0 0 -91px;
		z-index: 1;
		@extend .icon-ok;
	}

	&__item {
		position: absolute;
		z-index: 5;
		padding: 2px 0 0;

		&:before {
			content: '';
			position: absolute;
			top: -4px;
			left: 100%;
			margin: 0 0 0 10px;
			width: 18px;
			height: 18px;
			background: #1e1e1e;
			border: 7px solid #5d8f03;
			border-radius: 50%;
		}

		&.left {
			text-align: right;
		}

		&.right {
			&:before {
				margin-left: 0;
				margin-right: 10px;
				left: auto;
				right: 100%;

			}

		}
		
		&.item1 {
			top: 10px;
			right: 50%;
			margin: 0 85px 0 0;
		}
		
		&.item2 {
			top: 72px;
			right: 50%;
			margin: 0 116px 0 0;
		}
		
		&.item3 {
			top: 134px;
			right: 50%;
			margin: 0 100px 0 0;
		}
		
		&.item4 {
			top: 10px;
			left: 50%;
			margin: 0 0 0 85px;
		}
		
		&.item5 {
			top: 72px;
			left: 50%;
			margin: 0 0 0 116px;
		}
		
		&.item6 {
			top: 134px;
			left: 50%;
			margin: 0 0 0 100px;
		}
	}
}

.why-section {
	margin: 0 0 44px;
	text-align: center;

	.main-title {
		margin-bottom: 34px;
	}

	p {
	
	}
}

.captains-section {
	margin: 0 0 54px;

	&__footer {
		padding: 65px 25px 8px;
		margin: -55px -20px 0;
		color: #888888;
		font: 18px/27px $myriadBoldIt;
		border: 2px solid #5d8f03;
		border-radius: 2px;
		position: relative;
		z-index: 1;

		&:before {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 50%;
			margin: 0 0 0 -23px;
			width: 45px;
			height: 2px;
			background: #5d8f03;
			z-index: 2;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 50%;
			left: 38px;
			right: 38px;
			height: 2px;
			background: #fff;
			z-index: 1;
		}
	}
}

.captains-list {
	list-style: none;
	padding: 0;
	margin: 20px -20px 0;
	text-align: center;
	position: relative;
	z-index: 5;

	&__item {
		display: inline-block;
		width: 400px;
		min-height: 730px;
		margin: 112px 43px 0;
		vertical-align: top;
		border: 2px solid #5d8f03;
		border-radius: 2px;
		padding: 0 20px;
	}

	&__photo {
		margin: -93px 0 12px;
		border-radius: 50%;
		width: 180px;
		display: inline-block;
		border: 2px solid #5d8f03;
		overflow: hidden;

		img {
			width: 100%;
			display: block;
			height: auto;
		}
	}

	&__name {
		margin: 0 0 4px;
		color: #333333;
		font: 18px/1.2 $kiddyKittyBold;
		letter-spacing: 0.04em;
	}

	&__who {
		margin: 0 0 20px;
		color: #888888;
		font: 18px/22px $kiddyKitty;
		letter-spacing: 0.04em;
	}

	p {
		color: #888888;
		font: 18px/27px $myriadIt;
	}
}

.we-help-section {
	margin: 0 0 69px;
	color: #515151;

	&__title {
		margin: 0 0 26px;
		color: #e74c3c;
		font: 19px/1.2 $kiddyKitty;
		text-align: center;
		text-transform: uppercase;
	}

	p {
		margin: 0 0 25px;
		text-indent: 36px;
	}
}

.order-section {
	padding: 65px 0 70px;
	margin: 0 0 20px;
	color: #fff;
	text-align: center;
	background: #194e05 url(../images/sign-up-bg.jpg);
	background-size: cover;

	&.bg2 {
		background-image: url(../images/sign-up-bg_2.jpg);
	}

	&__info {
		margin: 0;
		font: 18px/22px $kiddyKitty;
		letter-spacing: 0.04em;

		p {
			margin: 0;
		}
	}

	.main-title {
		color: #fff;
		margin-bottom: 16px;
	}

	.order-form {
		text-align: center;
		margin: 49px 0 0;

		&__line {
			width: 250px;
			margin: 0 15px 30px;
			display: inline-block;
			vertical-align: top;
		}

		&__submit {
			margin-top: 27px;
		}

		@include placeholder {
			color: #fff;
		}
	}
}

.for-adults-section {
	margin: 52px auto 25px;

	&__content {
		margin-top: 25px;
		@include pie-clearfix();
	}

	.small-article {
		margin-bottom: 0;
	}

	&__super {
		color: #515151;
		margin: 0 95px 22px;
		text-align: center;
		font: 18px/25px $myriadBold;

		p {
			margin: 0;
		}
	}
}

.round-collage {
	margin: 0;
}

.round-collage {
	margin: 0 0 0 30px;
}

.contacts-section {
	margin: 27px auto 25px;

	&__title {
		margin: 0 0 27px;
		text-align: center;
		font: 18px/1.2 $kiddyKitty;
		color: #333333;
	}
}

.contacts-list {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 50px;
	position: relative;
	font: 18px/1.2 $myriad;
	color: #333333;

	&__item {
		padding: 10px 18px 10px 26px;
		position: relative;
		border-radius: 3px;
		border: 2px solid #468902;
		position: absolute;
		top: 0;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: -16px;
			width: 28px;
			height: 28px;
			margin: -16px 0 0;
			border-radius: 50%;
			border: 2px solid #468902;
			background: #fff;
			@include box-shadow(0 0 0 2px #fff);
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
		}

		&.phone {
			right: 50%;
			margin: 0 12px 0 0;

			&:after {
				left: -9px;
				margin: -9px 0 0;
				@extend .icon-phone;
			}
		}

		&.email {
			left: 50%;
			margin: 0 0 0 22px;

			&:after {
				left: -11px;
				margin: -6px 0 0;
				@extend .icon-mail;
			}
		}
	}

	&__phone {
		display: inline-block;
		padding: 0 0 0 14px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: 6px;
			top: -7px;
			height: 35px;
			width: 2px;
			background: #468902;
			@include transform(rotate(22deg) translate3d( 0, 0, 0));
		}

		&:first-child {
			padding-left: 0;

			&:before {
				display: none;
			}
		}
	}

	a {
		text-decoration: none;
		color: #333333;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 100%;
			left: 50%;
			height: 1px;
			width: 0;
			background: #333;
			@include transition (all linear .2s);
		}

		&:hover,
		.main-menu__item.active & {

			&:before {
				left: 0;
				width: 100%;
			}
		}
	}
}