/* Fonts
-----------------------------------------------------------------------------*/
@font-face {
	font-family:'KiddyKitty-Regular';
	src: url('../fonts/KiddyKitty_gdi.eot');
	src: url('../fonts/KiddyKitty_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KiddyKitty_gdi.woff') format('woff'),
		url('../fonts/KiddyKitty_gdi.ttf') format('truetype'),
		url('../fonts/KiddyKitty_gdi.svg#KiddyKitty-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'KiddyKitty-Italic';
	src: url('../fonts/KiddyKitty-Italic_gdi.eot');
	src: url('../fonts/KiddyKitty-Italic_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KiddyKitty-Italic_gdi.woff') format('woff'),
		url('../fonts/KiddyKitty-Italic_gdi.ttf') format('truetype'),
		url('../fonts/KiddyKitty-Italic_gdi.svg#KiddyKitty-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'KiddyKitty-Bold';
	src: url('../fonts/KiddyKitty-Bold_gdi.eot');
	src: url('../fonts/KiddyKitty-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KiddyKitty-Bold_gdi.woff') format('woff'),
		url('../fonts/KiddyKitty-Bold_gdi.ttf') format('truetype'),
		url('../fonts/KiddyKitty-Bold_gdi.svg#KiddyKitty-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'MyriadPro-Regular';
	src: url('../fonts/MyriadPro-Regular_gdi.eot');
	src: url('../fonts/MyriadPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadPro-Regular_gdi.woff') format('woff'),
		url('../fonts/MyriadPro-Regular_gdi.ttf') format('truetype'),
		url('../fonts/MyriadPro-Regular_gdi.svg#MyriadPro-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'MyriadPro-Bold';
	src: url('../fonts/MyriadPro-Bold_gdi.eot');
	src: url('../fonts/MyriadPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadPro-Bold_gdi.woff') format('woff'),
		url('../fonts/MyriadPro-Bold_gdi.ttf') format('truetype'),
		url('../fonts/MyriadPro-Bold_gdi.svg#MyriadPro-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family: 'MyriadProIt';
	src: url('../fonts/MyriadProIt.eot');
	src: url('../fonts/MyriadProIt.eot') format('embedded-opentype'),
		url('../fonts/MyriadProIt.woff2') format('woff2'),
		url('../fonts/MyriadProIt.woff') format('woff'),
		url('../fonts/MyriadProIt.ttf') format('truetype'),
		url('../fonts/MyriadProIt.svg#MyriadProIt') format('svg');
}

@font-face {
	font-family: 'MyriadProBoldIt';
	src: url('../fonts/MyriadProBoldIt.eot');
	src: url('../fonts/MyriadProBoldIt.eot') format('embedded-opentype'),
		 url('../fonts/MyriadProBoldIt.woff2') format('woff2'),
		 url('../fonts/MyriadProBoldIt.woff') format('woff'),
		 url('../fonts/MyriadProBoldIt.ttf') format('truetype'),
		 url('../fonts/MyriadProBoldIt.svg#MyriadProBoldIt') format('svg');
}
