/* Footer
-----------------------------------------------------------------------------*/
.footer {
	border-top: 1px solid #dfdfdf;
	padding: 20px 0;
}

.copyright {
	margin: 0;
	text-align: center;
	color: #888888;
	font: 14px/1.2 $myriad;
}