/* Icons
-----------------------------------------------------------------------------*/

$icon-sprite-dimensions: true;
//$icon-layout: smart;
//$icon-sort-by: 'name';
$icon-spacing: 4px;

@import "icon/*.png";
@include all-icon-sprites;


.icon-sprite {
	display: inline-block;
	vertical-align: middle;
}